body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f4f4f9;
  }

  html{
    font-size: 62.5%
  }

  .header-link {
    text-decoration: none;
    color: #007bff;
    font-size: 24px;
  }
  
  .header-link:hover {
    text-decoration: underline;
  }
  
  .calendar {
    width: 100vw;
    height: 100vh;
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2rem;
    box-sizing: border-box;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .header h2 {
    font-size: 2rem;
    color: #333;
  }
  
  button {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 0.5rem;
    padding: 0.8rem 1.2rem;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  .weekdays,
  .days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 0.5rem;
  }
  
  .weekday {
    text-transform: uppercase;
    font-size: 1rem;
    color: #555;
    text-align: center;
    padding: 0.5rem 0;
    font-weight: bold;
  }
  
  .day,
  .empty {
    background-color: #f9f9f9;
    text-align: center;
    padding: 1.5rem 0.5rem; /* Verhoog de hoogte door padding aan te passen */
    border-radius: 0.4rem;
    font-size: 1rem;
    color: #333;
    height: 8rem; /* Pas de hoogte aan voor een hogere blok */
  }
  
  .day:hover {
    background-color: #d4e9f9;
    color: #007bff;
    cursor: pointer;
  }
  
  .empty {
    color: #ccc;
  }

.container {
  position: relative;
}

.agenda-popup {
  position: fixed; /* Zorg ervoor dat de popup bovenop de content staat */
  top: 50%; /* Verticaal gecentreerd */
  left: 50%; /* Horizontaal gecentreerd */
  transform: translate(-50%, -50%); /* Correcte centrering door verschuiving */
  background-color: white;
  border: 0.1rem solid #ccc;
  padding: 2rem;
  width: 30rem; 
  box-shadow: 0 0.4rem 0.6rem rgba(0, 0, 0, 0.1);
  z-index: 2; 
}

.agenda-popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); 
  z-index: 1; 
}

.calendar-section, .buttons-section, .quote-section, .search-section {
  z-index: 1;
}

  